<h2 class="page-title">
  <slot />
</h2>

<style lang="scss">
  .page-title {
    font-weight: 500;
    font-size: 24px;
    color: #2d2d2d;
    margin: 0px;

    @media (prefers-color-scheme: dark) {
      color: #ebebeb;
    }
  }
</style>
