---
import Layout from '../layout/Default.astro'

import Navbar from '../components/Navbar/index.astro'
---

<Layout>
  <Navbar currentPage="HOME" />
  <section>
    <p class="greeting">
      Hi There!<br />
      I’m Dhika, a frontend engineer and a big weeb<br/>
      <br />
      I also do things in <a href="https://github.com/ShioriLabs" target="_blank" rel="noopener noreferrer">Shiori Labs</a>, go check it out!
    </p>
  </section>
</Layout>

<style lang="scss">
  .greeting {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0px;

    color: #636363;

    @media (prefers-color-scheme: dark) {
      color: #c4c4c4;
    }

    a {
      color: inherit;
    }
  }
</style>
